# FortiGate Details
FGT_HOST=YOUR_FIREWALL_IP
FGT_USERNAME=admin
FGT_PASSWORD=yourpassword

# Backup Settings
BACKUP_PATH=./backups
RETENTION_DAYS=30

# Email Settings
SMTP_SERVER=smtp.yourdomain.com
FROM_EMAIL=backup@yourdomain.com
TO_EMAIL=admin@yourdomain.com
